.AddNewIssue{
	
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow-x: hidden;
// 	button{
// 		width: 100px;
// 		height: 50px;
// 		background-color: @purple;
// 		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
// 		border-radius: 4px;
// 		border:none;
// 	}
// 	.new_repo{
// 		align-items: center;
// 		justify-content: center;
// 		background-color: #ffffff;
// 		margin-top: 20px;
// 		padding-top: 20px;
// 		padding-bottom: 10px;
// 		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
// 	}
	.group{

  		position:relative; 
  		margin-bottom:30px;
  		input{
		font-size:18px;
		padding:10px 10px 10px 5px;
		display:block;
		width:100%;
		border:none;
		border-bottom:1px solid #757575;
		background-color: @white;
		color: @black;
	}
	input:focus{ outline:none; }

	label{
	  color:#999; 
	  font-size:18px;
	  font-weight:normal;
	  position:absolute;
	  pointer-events:none;
	  left:5px;
	  top:10px;
	  transition:0.2s ease all; 
	  -moz-transition:0.2s ease all; 
	  -webkit-transition:0.2s ease all;
	}

	/* active state */
	input:focus ~ label, input:valid ~ label 		{
	  top:-20px;
	  font-size:14px;
	  color:@blue;
	}

/* BOTTOM BARS ================================= */
	.bar 	{ position:relative; display:block; width:100%; }
	.bar:before, .bar:after 	{
	  content:'';
	  height:2px; 
	  width:0;
	  bottom:1px; 
	  position:absolute;
	  background:@blue; 
	  transition:0.2s ease all; 
	  -moz-transition:0.2s ease all; 
	  -webkit-transition:0.2s ease all;
	}
	.bar:before {
	  left:50%;
	}
	.bar:after {
	  right:50%; 
	}

	/* active state */
	input:focus ~ .bar:before, input:focus ~ .bar:after {
	  width:50%;
	}

	/* HIGHLIGHTER ================================== */
	.highlight {
	  position:absolute;
	  height:60%; 
	  width:100px; 
	  top:25%; 
	  left:0;
	  pointer-events:none;
	  opacity:0.5;
	}

	/* active state */
	input:focus ~ .highlight {
	  -webkit-animation:inputHighlighter 0.3s ease;
	  -moz-animation:inputHighlighter 0.3s ease;
	  animation:inputHighlighter 0.3s ease;
	} 
	}
	
	h1{
		
		font-size: 20px;
		color: @black;
		line-height: 0;
		text-align: left;
	}
	.nav{
		background-image:url("/images/navPattern.png");
		width: 100%;
		height: 40px;
		background-position: center;
		background-size: 100%;
		align-items: center;
		justify-content: center;
		p{
			text-align: center;
			color: @white;
		}
	}
	.container{
		margin-top: 10px;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}
	.name{
		margin-top: 20px;
		margin-bottom: 15px;
		width: 80%;
		p{
			color: #ffffff;
		}
	}
	.cal{
		width: 80%;
		text-align: center;
	}
	.calendar{
		background-color: #ffffff;
		padding-top: 10px;
		padding-bottom: 10px;
		border: 1px solid @blue;
		
	}
	.rc-calendar-table{
		width: 100%;
	}
	.pay{
		margin-top: 5px;

	}

	.btc{
		width: 120%;
		background-image:url("/images/navPattern.png");
		height: 150px;
		background-position: center;
		background-size: 100%;
	}
	.qr{
		position: absolute;
		z-index: 3;
		background-position: center;
		background-image: url('/images/qrOs.png');
		height: 150px;
		width: 150px;
		background-size: 70%;
		background-repeat: no-repeat;
		bottom: 3px;
		left: 26%;

	}
	.blue{
		width: 200%;
		height: 150px;
		position: absolute;
		bottom: 0px;
		z-index: 2;
		background-color: @blue;
		opacity: .7;
	}
}