.ContractList{

	
	background-color: @green;
	.nav{
		background-image:url("/images/navPattern.png");
		width: 100%;
		height: 40px;
		background-position: center;
		background-size: 100%;
		align-items: center;
		justify-content: space-between;
	}
	.icon{
		padding: 20px;
		color: @white;
		transition: color .2s ease;
	}
	.icon:active{
		color: @red;
	}
	.container{
		justify-content: space-around;

	}

}